@using Microsoft.AspNet.Identity;
@model DatingSite.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3 card bg-light">
        <div class="card-body">
            <img class="card-img-top" src="~/UploadedFiles/@Model.PicturePath"/>
            <h4 class="card-title">@Model.FirstName @Model.LastName</h4>
            <h4 class="card-title">Om mig</h4>
            <p class="card-text">@Model.Description</p>
            <h4 class="card-title">Stad</h4>
            <p class="card-text">@Model.City</p>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row card bg-light">
            <div class="card-body">
                <h4 class="card-title">Förnamn Efternamn</h4>
                <p class="card-text">DET HÄR ÄR EN KOMMENTAR XD DET SKA DYKA UPP JAAAAAAAA VÄLDIGT BRAAAAAAAAAAAAA</p> 
            </div>
        </div>
    </div>
</div>